.poster-movie {
    width: 100%;
    
    object-fit: contain;
    max-height: 100px;
    transition: transform 450ms; 
    margin-right: 10px;
}

.poster-movieLarge{
    max-height: 900px;
    min-height: 350px;
}

.poster-movieLarge:hover{
    transform:scale(1.09);
}

.poster-movie:hover {
    transform: scale(1.08);
    opacity: 1;
}

.row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: none;
    padding: 20px;
}

.row-posters::-webkit-scrollbar{
    display: none;
}

.row-movie{
    margin-left:20px;
    color: white;

}
